.DS_Store

*.py
*.psd
infinitylabs.dev/game/
infinitylabs.dev/github/
infinitylabs.dev/images/
infinitylabs.dev/instagram/
infinitylabs.dev/twitter/
infinitylabs.dev/youtube/
infinitylabs.dev/favicon.ico
