.image_showcase .collage .collage_title {
    animation: blank 0.1s, text_in 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.1s;
}
.image_showcase .collage .collage_wrapper {
    animation: blank 0.6s, fade_in 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.6s;
}