@media only screen and (max-width: 1300px) {
    .image_showcase .collage .collage_title {
        padding-top: 90px;
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    .image_showcase .collage .collage_title {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .image_showcase .collage .collage_wrapper {
        grid-template-columns: repeat( auto-fill, 1fr);
        width: 90vw;
        margin: 0 auto;
    }
    .image_showcase .image_container img {
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) { /* PHONE LAYOUT*/
    .image_showcase .collage .collage_title {
        font-size: 36px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}