.fullscreen_container {
    width: 100vw;
    height: 100vh;

    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.fullscreen_container .fullscreen_close {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;

    width: 22px;
    height: 22px;
    margin: 15px;
    margin-left: auto;
}
.fs_bar1, .fs_bar2 {
    width: 25px;
    height: 3px;
    margin: 8px 0;
    background-color: rgb(204, 204, 204);
}
.fs_bar1 {
    -webkit-transform: rotate(-45deg) translate(-7.5px, 6px);
    transform: rotate(-45deg) translate(-7.5px, 6px);
}
.fs_bar2 {
    -webkit-transform: rotate(45deg) translate(-1.5px, -0.5px);
    transform: rotate(45deg) translate(-1.5px, -0.5px);
}

.fullscreen_container img {
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.image_showcase {
    margin-bottom: 100px;
}
.image_showcase .collage {
    display: block;
    margin: 0 5vw;
}
.image_showcase .showcase_title {
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.image_showcase .showcase_title h1 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.image_showcase .showcase_title h2 {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.06em;
}
.image_showcase .collage .collage_wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr));
    width: auto;
}
.image_showcase .collage_wrapper .image_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    /* border-radius: 12px; */
}
.image_showcase  img {
    width: 100%;
    /* border-radius: 12px; */
    cursor: pointer;
    transition: filter 0.3s;
}


.image_showcase .collage_wrapper img:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}