/* APPLY KEYFRAME ANIMATIONS TO ELEMENTS HERE */


/* animation: name duration timing_function delay direction iteration_count fill_mode play_state */

.landing .landing_container h2 {
    animation: blank 0.1s 0s, text_in 0.5s 0.1s;
    animation-fill-mode: forwards;
}
.landing .landing_container p {
    animation: blank 0.3s 0s, text_in 0.5s 0.3s;
    animation-fill-mode: forwards;
}

.landing .landing_container #developer_container,
.landing .landing_container #designer_container,
.landing .landing_container #creator_container {
    animation-name:         blank, fade_in;
    animation-fill-mode: forwards;
}
.landing .landing_container #creator_container {
    animation-duration: 0.8s, 1.3s;
    animation-delay: 0s, 0.8s;
}
.landing .landing_container #developer_container {
    animation-duration: 0.9s, 1.3s;
    animation-delay: 0s, 0.9s;
}
.landing .landing_container #designer_container {
    animation-duration: 1s, 1.3s;
    animation-delay: 0s, 1s;
}


.work #body_creator,
.work  #body_developer,
.work  #body_designer {
    animation:         blank, slide_up_80px;
    animation-fill-mode: forwards;
}
.work #body_creator {
    animation-duration: 1s, .7s;
    animation-delay: 0s, 1s;
}
.work  #body_developer {
    animation-duration: 1.4s, .7s;
    animation-delay: 0s, 1.4s;
}
.work  #body_designer {
    animation-duration: 1.8s, .7s;
    animation-delay: 0s, 1.8s;
}