@media only screen and (max-width: 1300px) {
    .landing_container {
        padding: 100px 30px;
    }
    .landing_title {
        margin-bottom: 50px;
    }
    .landing .landing_container h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .landing .landing_container p {
        font-size: 19px;
    }
    .landing .landing_container .landing_icon_container .card_container h3 {
        font-size: 14px;
    }
    .landing .landing_container .landing_icon_container .card_container a,
    .landing .landing_container .landing_icon_container .card_container img {
        width: 75px;
        height: 75px;
    }

    .work {
        padding-left: 30px;
        padding-right: 30px;
    }
    .body_left,
    .body_right {
        margin: 75px auto;
    }
    .body_left .text_container h2,
    .body_right .text_container h2 {
        font-size: 32px;
    }
    .body_left .text_container p,
    .body_right .text_container p {
        margin-top: 15px;
        font-size: 16px;
    }
    .body_left img,
    .body_right img {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .landing_container {
        padding: 80px 30px;
    }
    .landing .landing_container .landing_icon_container {
        max-width: 800px;
        margin: 0 auto;
    }
    .landing .landing_container .landing_icon_container .card_container {
        margin: 0 65px;
    }
    .landing .landing_container .landing_icon_container #creator_container {
        margin-left: auto;
    }
    .landing .landing_container .landing_icon_container #designer_container {
        margin-right: auto;
    }
    .landing .landing_container .landing_icon_container .card_container a,
    .landing .landing_container .landing_icon_container .card_container img {
        width: 65px;
        height: 65px;
    }
    .landing .landing_container h2 {
        font-size: 46px;
        margin-bottom: 20px;
    }
    .landing .landing_container p {
        font-size: 18px;
    }

    .work {
        padding-left: 15px;
        padding-right: 15px;
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        margin-top: -30px;
    }
    .body_left,
    .body_right {
        max-width: 700px;
        margin: 50px auto;
        padding-bottom: 30px;
        display: block;
    }
    .body_left .image_container,
    .body_right .image_container {
        width: auto;
        height: 380px;
        padding-left: 0;
    }
    .body_left .image_container .image,
    .body_right .image_container .image {
        margin-left: 0;
        margin-right: 0;
    }
    .body_left .text_container,
    .body_right .text_container {
        text-align: left;
        width: auto;
        height: auto;
        padding: 0px 30px;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -30px;
        padding: 30px;
        height: auto;
    }
    .body_left .text_container h2,
    .body_right .text_container h2,
    .body_left .text_container p,
    .body_right .text_container p {
        -webkit-font-smoothing: antialiased;
        max-width: none;
        position: center;
    }
    .body_left .text_container h2,
    .body_right .text_container h2 {
        display: inline;
        font-size: 28px;
    }
    .body_left .text_container p,
    .body_right .text_container p {
        font-size: 16px;
    }
}

/* PHONE LAYOUT */
@media only screen and (max-width: 600px) {
    .landing_container {
        padding: 60px 15px;
    }
    .landing_title {
        margin-bottom: 40px;
    }
    .landing .landing_container h2 {
        font-size: 36px;
        text-transform: uppercase;
    }
    .landing .landing_container p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
    }
    .landing .landing_container .landing_icon_container {
        max-width: 400px;
    }
    .landing .landing_container .landing_icon_container .card_container {
        width: auto;
        margin: 0 auto;
    }
    .landing .landing_container .landing_icon_container #creator_container {
        margin-left: 0px;
    }
    .landing .landing_container .landing_icon_container #designer_container {
        margin-right: 0px;
    }
    .landing .landing_container .landing_icon_container .card_container a {
        width: auto;
        height: auto;
    }
    .landing .landing_container .landing_icon_container .card_container h3 {
        font-size: 11px;
    }
    .landing .landing_container .landing_icon_container .card_container img {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: block;
    }

    .work {
        padding: 30px 0px;
    }
    .body_left,
    .body_right {
        padding-bottom: 20px;
        display: block;
    }
    .body_left .text_container,
    .body_right .text_container {
        padding: 0px 15px;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        padding: 25px 15px;
        margin-top: -25px;
        height: auto;
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        margin-top: -25px;
    }
    .body_left .image_container,
    .body_right .image_container {
        height: 250px;
    }
    .body_left .text_container h2,
    .body_right .text_container h2 {
        font-size: 26px;
    }
    .body_left .text_container p,
    .body_right .text_container p {
        font-size: 15px;
        line-height: 1.7em;
        margin-top: 10px;
    }
}