.dropdown_menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
}
.dropdown_links {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 30px;
}
.dropdown_links a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    text-decoration: none;

    padding: 14px 28px;
    display: block;
    transition: 0.3s;
    
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: block;
}

.nav_bar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

    width: auto;
    max-width: 1260px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.nav_bar nav {
    display: flex;
}
.left_header {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right_header {
    text-align: right;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right_header nav {
    margin-left: auto;
    margin-right: 0;
}
.left_header div {
    margin-right: 25px;
}
.right_header div {
    margin-left: 25px;
}
.left_header a,
.right_header a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: .1em;
    text-decoration: none;
    transition-duration: 0.3s;
}
.center_header {
    z-index: 6;
    margin-left: auto;
    margin-right: auto;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    -webkit-box-flex: 1;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;

    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.center_header a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .1em;
    text-decoration: none;
    transition: .3s;
}
.center_header .header_logo figure {
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 105px;
    vertical-align: middle;
}
.nav_bar .hamburger {
    display: none;

    /*terraforge settings*/
    position: relative;
    display: none;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}
/*ANIMATED HAMBURGER*/
.hamburger {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    margin: 8px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
}


.footer {
    padding: 30px 30px;
}
.footer .footer_container {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}
.footer .logo_wrapper {
    width: 33%;
    margin-right: auto;
    display: flex;
}
.footer .logo_wrapper figure {
    background-image: url("images/logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 42px;
    height: 30px;
}
.footer .logo_wrapper h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.08em;
    margin: auto 0;
}
.social {
    width: 33%;
    margin: 0 auto;
    text-align: center;
 /* child is using inline-block which disables margin 0 auto for horizontal centering.
    Use text-align center in the parent div (this) to compensate. */
}
.social .social_container {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}
.copyright {
    width: 33%;
    height: 30px;
    margin-left: auto;
    display: flex;
}
.copyright h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.youtube,
.instagram,
.twitter,
.discord,
.github {
    margin-left: 7px;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.2s;
}
.youtube:hover,
.instagram:hover,
.twitter:hover,
.discord:hover,
.github:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

@media screen and (max-height: 450px) {
    .dropdown_menu {
        overflow-y: auto;
    }
    .dropdown_menu a {
        font-size: 20px
    }
}

@media screen and (min-width: 940px) {
    .dropdown_menu {
        height: 0%;
    }
}

@media screen and (max-width: 1300px) {
    .header .header_container {
        width: auto;
        margin-left: 60px;
        margin-right: 60px;
    }
    .center_header .header_logo figure {
        width: 125px;
        height: 88px;
    }
    .center_header a {
        font-size: 13px;
    }

    .footer {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1000px) {
    .left_header {
        width: 230px;
    }
    .right_header {
        text-align: right;
        width: 230px;
    }
    .left_header div {
        margin-right: 25px;
    }
    .right_header div {
        margin-left: 25px;
    }
    .left_header a,
    .right_header a {
        font-size: 16px;
    }
    .center_header a {
        font-size: 14px;
    }
}

/* COMPRESS FOOTER INTO VERTICAL STACK */
@media screen and (max-width: 750px) {
    .footer {
        padding: 10px 30px;
    }
    .footer .footer_container {
        display: block;
    }
    .footer .logo_wrapper,
    .social,
    .copyright {
        width: auto;
        margin: 0 auto;
    }
    .social {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .logo_wrapper figure {
        margin-left: auto;
        width: 60px;
        height: 40px;
    }
    .footer .logo_wrapper h1 {
        font-size: 17px;
        margin-right: auto;
    }
    .copyright h1 {
        text-align: center;
        margin: auto auto;
    }

    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* SHOW HAMBURGER MENU WHEN NAV BAR RUNS OUT OF SPACE (MOBILE) */
@media screen and (max-width: 650px) {
    .dropdown_menu button {
        font-size: 20px
    }

    .nav_bar {
        padding-top: 20px;
    }
    .nav_bar .hamburger {
        display: block;
        cursor: pointer;
        right: 0;
    }
    .left_header {
        display: none;
    }
    .right_header {
        display: none;
    }
    .left_header div {
        margin-right: 15px;
    }
    .right_header div {
        margin-left: 15px;
    }
    .center_header {
        margin-left: 0;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .center_header .header_logo figure {
        width: 59px;
        height: 41px;
    }
    .left_header a,
    .right_header a {
        font-size: 14px;
    }
    .center_header a {
        font-size: 18px;
        letter-spacing: .13em;
    }
}

/* SHRINK FOOTER FOR SMALLER PHONES */
@media screen and (max-width: 400px) {
    .social {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .logo_wrapper figure {
        width: 42px;
        height: 30px;
    }
    .footer .logo_wrapper h1 {
        font-size: 14px;
    }
    .copyright h1 {
        font-size: 12px;
    }

    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* SHRINK NAV BAR LOGO BELOW IPHONE 8/X WIDTH */
@media screen and (max-width: 374px) {
    .center_header a {
        font-size: 16px;
        letter-spacing: .1em;
    }
    .hamburger {
        transform: scale(0.9);
    }
}

/* ONLY KEEP NAV BAR LOGO BELOW IPHONE SE (320PX) */
@media screen and (max-width: 319px) {
    .center_header figure {
        transform: scale(1.3);
    }
    .center_header .header_title {
        display: none;
    }
    .hamburger {
        transform: scale(1);
    }
}

@media screen and (prefers-color-scheme: light) {
    .dropdown_menu {
        background-color: white;
    }
    .dropdown_links a {
        color: rgb(109, 109, 109);
    }
    .dropdown_links a:hover,
    .dropdown_menu a:focus {
        color: #424242;
        transition-duration: 0.5s;
    }
    .bar1,
    .bar2,
    .bar3 {
        background-color: rgb(109, 109, 109);
    }

    .left_header a,
    .right_header a {
        color: rgb(139, 139, 139);
    }
    .nav_bar .current {
        color: #424242;
    }
    .left_header a:hover,
    .right_header a:hover {
        color: #2f2f2f;
    }
    .center_header a {
        color: #292929;
    }
    .center_header .header_logo figure {
        background-image: url("images/logo_dark.png");
    }

    .footer {
        background-color: rgb(240, 240, 240);
    }
    .footer .logo_wrapper h1 {
        color: rgb(185, 185, 185);
    }
    .footer .logo_wrapper figure {
        filter: brightness(0.5);
    }
    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        filter: brightness(3);
    }
    .youtube {
        background-image: url("images/social_black/Youtube_2.svg");
    }
    .instagram {
        background-image: url("images/social_black/Instagram_2.svg");
    }
    .twitter {
        background-image: url("images/social_black/Twitter_2.svg");
    }
    .discord {
        background-image: url("images/social_black/Discord_2.svg");
    }
    .github {
        background-image: url("images/social_black/Github_2.svg");
    }

    .copyright {
        color: rgb(185, 185, 185);
    }
}

@media screen and (prefers-color-scheme: dark) {
    .dropdown_menu {
        background-color: rgb(37, 37, 37);
    }
    .dropdown_links a {
        color: rgb(199, 199, 199);
    }
    .dropdown_links a:hover,
    .dropdown_menu a:focus {
        color: #ffeccf;
    }
    .bar1,
    .bar2,
    .bar3 {
        background-color: #f0d5b6;
    }

    .left_header a,
    .right_header a {
        color: rgb(179, 179, 179);
    }
    .nav_bar .current {
        color: #f0d5b6;
    }
    .left_header a:hover,
    .right_header a:hover {
        color: #ffeccf;
    }
    .center_header a {
        color: #ffffff;
    }
    .center_header .header_logo figure {
        background-image: url("images/logo_white.png");
    }

    .footer {
        background-color: rgb(34, 34, 34);
    }
    .footer .logo_wrapper h1 {
        color: rgb(98, 98, 98);
    }
    .footer .logo_wrapper figure {
        filter: brightness(0.6);
    }
    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        filter: brightness(0.6);
    }

    .youtube {
        background-image: url("images/social_gray/Youtube_1.svg");
    }
    .instagram {
        background-image: url("images/social_gray/Instagram_1.svg");
    }
    .twitter {
        background-image: url("images/social_gray/Twitter_1.svg");
    }
    .discord {
        background-image: url("images/social_gray/Discord_1.svg");
    }
    .github {
        background-image: url("images/social_gray/Github_1.svg");
    }

    .copyright {
        color: rgb(98, 98, 98);
    }
}

/* DECREASE MOBILE NAV BAR LOGO'S CONTRAST AGAINST BACKGROUND */
@media screen and (prefers-color-scheme: dark) and (max-width: 650px) {
    .center_header {
        filter: brightness(0.8);
    }
}
@media screen and (prefers-color-scheme: light) and (max-width: 650px) {
    .center_header {
        filter: brightness(2.6);
    }
}