/* 
 * STRUCTURE:
 * DESKTOP CSS
 * LAYOUTS
 * THEMES
 */

code {
    border-radius: 4px;

    border-width: 2px 6px;
    border-style: solid;
    border-color: #00000000;
}



/* DESKTOP CSS */
body {
    font-family: 'Inter', sans-serif;
    animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
}


main {
    transition: opacity 0.5s, filter 0.5s;
}


.sidenav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}
.sidenav .sidenav_bg {
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    transition: 0.5s;
}
.sidenav_container {
    width: 80vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transition: 0.5s;
}
.sidenav_links {
    position: relative;
    top: 100px;
    width: 100%;
}
.sidenav_links a {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: right;
    text-decoration: none;
    cursor: pointer;

    padding: 14px 32px;
    display: block;
    transition: 0.3s;
}


.nav_bar {
    padding: 30px 30px;
}
.nav_bar_container {
    margin: 0 auto;

    width: auto;
    max-width: 1200px;

    display: flex;
    align-items: center;
}
.nav_bar ul {
    display: flex;
}
.right_header ul {
    display: flex;
}
.right_header {
    margin-left: auto;
    margin-right: 0;
}
.right_header li {
    margin-left: 50px;
}
.right_header a {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .1em;
    text-decoration: none;
    transition-duration: 0.3s;
}
.center_header {
    z-index: 1;
    transition: all 0.5s;
}
.center_header .header_logo figure {
    background-size: cover;
    background-repeat: no-repeat;
    width: 54px;
    height: 30px;
    vertical-align: middle;

    /* animation: fade_in 0.7s; */
}
.nav_bar .hamburger {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 10;
}
/*ANIMATED HAMBURGER*/
.bar1, .bar3 {
    width: 25px;
    height: 3px;
    margin: 8px 0;
    transition: 0.4s;

    animation-name: blank_width 0.1s 0s, hamburger_in 0.5s 0.1s;
    animation-fill-mode: forwards;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5.5px, 4px);
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -3px);
    transform: rotate(45deg) translate(-3.5px, -2.5px);
}


.footer {
    padding: 30px 30px;
}
.footer .footer_container {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}
.footer .logo_wrapper {
    width: 33%;
    margin-right: auto;
    display: flex;
}
.footer .logo_wrapper figure {
    background-image: url("images/logo_white.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 29px;
    height: 16px;
    margin: auto 0;
    margin-right: 5px;
}
.footer .logo_wrapper h1 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    margin: auto 0;
}
.social {
    width: 33%;
    margin: 0 auto;
}
.social .social_container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.copyright {
    width: 33%;
    margin-left: auto;
    display: flex;
}
.copyright h1 {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.04em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-transform: uppercase;
}

.youtube,
.instagram,
.twitter,
.discord,
.github {
    margin-left: 7px;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.2s;
}
.youtube:hover,
.instagram:hover,
.twitter:hover,
.discord:hover,
.github:hover {
    filter: brightness(0.8);
}


/* LAYOUTS CSS */


@media screen and (max-width: 1300px) {
    .footer {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1000px) {
    .nav_bar {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 800px) {
    .sidenav_container button {
        font-size: 20px
    }

    .nav_bar {
        padding: 20px 15px;
        animation: fade_in 0.5s;
    }
    .nav_bar .hamburger {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }
    .right_header {
        display: none;
    }
    .right_header div {
        margin-left: 15px;
    }
    .center_header {
        margin-left: 0;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .right_header a {
        font-size: 14px;
    }
    .center_header a {
        font-size: 18px;
        letter-spacing: .06em;
        animation: none;
    }
    .center_header .header_logo figure {
        width: 45px;
        height: 25px;
        animation: none;
    }
}

/* COMPRESS FOOTER INTO VERTICAL STACK */
@media screen and (max-width: 750px) {
    .footer {
        padding: 30px;
    }
    .footer .footer_container {
        display: block;
    }
    .footer .logo_wrapper,
    .social,
    .copyright {
        width: auto;
        margin: 0 auto;
    }
    .social {
        padding: 25px 0px;
    }
    .footer .logo_wrapper figure {
        margin-left: auto;
    }
    .footer .logo_wrapper h1 {
        margin-right: auto;
    }
    .copyright h1 {
        text-align: center;
        margin: auto;
    }
    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        width: auto;
        padding: 25px 15px;
    }
}

/* SHRINK DROPDOWN MENU TEXT FOR SHORT SCREENS (SUB 450PX HEIGHT) */
@media screen and (max-height: 450px) {
    .sidenav_container {
        overflow-y: auto;
    }
    .sidenav_container a {
        font-size: 20px
    }
}

/* SHRINK FOOTER FOR SMALLER PHONES */
@media screen and (max-width: 400px) {
    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 12px;
        margin-right: 12px;
    }
}


/* 
 * ON SYSTEMS WITHOUT DARK MODE SUPPORT (E.G. PRE-iOS 13), NO THEMING WILL OCCUR
 * BECAUSE IT WILL NOT DEFAULT TO LIGHT THEME. THE WORKAROUND IS TO REMOVE THE
 * @MEDIA (PREFERS-COLOR-SCHEME) QUERY SO IT DEFAULTS TO ONE OF THE THEMES.
 * HERE, WE DEFAULT TO DARK THEME BUT IF A DEVICE THAT SUPPORTS (PREFERS-COLOR-SCHEME)
 * IS USING LIGHT THEME, THE LIGHT THEME CSS WILL OVERRIDE THE DEFAULT BECAUSE
 * IT IS DECLARED LATER IN THE FILE. HTML PRIORITIZES CSS IN ORDER OF NEWEST TO OLDEST.
 */


.sidenav_container {
    background-color: rgb(36, 36, 36);
}
.sidenav_links a {
    color: rgb(199, 199, 199);
    color: rgb(219, 219, 219, 0.5);
}
.sidenav_links .current {
    color: rgb(219, 219, 219);
}
.sidenav_links a:hover,
.sidenav_container a:focus {
    color: #ffeccf;
    color: rgb(219, 219, 219);
}
.bar1,
.bar2,
.bar3 {
    background-color: #f0d5b6;
    background-color: rgb(204, 204, 204);
    background-color: rgb(240, 240, 240);
}


.nav_bar {
    background-color: rgb(30, 30, 30);
}
.right_header a {
    color: rgb(179, 179, 179);
    color: rgb(219, 219, 219, 0.5);
}
.nav_bar .current {
    color: #f0d5b6;
    color: rgb(219, 219, 219);
}
.right_header a:hover {
    color: rgb(219, 219, 219);
}
.center_header a {
    color: rgb(243, 243, 243);
}
.center_header .header_logo figure {
    background-image: url("images/logo_white.png");
}


code {
    background-color: rgb(245, 245, 245);
}

.footer {
    background-color: rgb(240, 240, 240);
}
.footer .logo_wrapper h1 {
    color: rgb(185, 185, 185);
}
.footer .logo_wrapper figure {
    filter: brightness(0.5);
}
.youtube {
    background-image: url("images/footer/youtube_light.png");
}
.instagram {
    background-image: url("images/footer/instagram_light.png");
}
.twitter {
    background-image: url("images/footer/twitter_light.png");
}
.discord {
    background-image: url("images/footer/discord_light.png");
}
.github {
    background-image: url("images/footer/github_light.png");
}
.copyright {
    color: rgb(185, 185, 185);
}

@media screen and (prefers-color-scheme: dark) {
    code {
        background-color: rgb(54, 54, 54);
    }


    .footer {
        background-color: rgb(34, 34, 34);
    }
    .footer .logo_wrapper h1 {
        color: rgb(98, 98, 98);
    }
    .footer .logo_wrapper figure {
        filter: brightness(0.6);
    }


    .youtube {
        background-image: url("images/footer/youtube_dark.png");
    }
    .instagram {
        background-image: url("images/footer/instagram_dark.png");
    }
    .twitter {
        background-image: url("images/footer/twitter_dark.png");
    }
    .discord {
        background-image: url("images/footer/discord_dark.png");
    }
    .github {
        background-image: url("images/footer/github_dark.png");
    }


    .copyright {
        color: rgb(98, 98, 98);
    }
}
