.landing_container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
.landing_title {
    width: 800px;
    padding-bottom: 100px;
    margin: 0 auto;
}
.landing .landing_container h1,
.landing .landing_container p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.landing .landing_container h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
}
.landing .landing_container p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    letter-spacing: 0.04em;
}
.landing .landing_container .landing_icon_container {
    display: flex;
}
.landing .landing_container .landing_icon_container .card_container {
    width: 300px;
    margin: 0 auto;
}
.landing .landing_container .landing_icon_container .card_container h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.landing .landing_container .landing_icon_container .card_container a {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    display: block;
}
.landing .landing_container .landing_icon_container .card_container img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    display: block;
    transition-duration: 0.3s;
}
.landing .landing_container .landing_icon_container .card_container:hover img {
    transform: scale(1.03);
}

.landing .landing_container .creator_container {
    -webkit-animation: fadein_creator 0.5s;
    -moz-animation:    fadein_creator 0.5s;
    -ms-animation:     fadein_creator 0.5s;
    -o-animation:      fadein_creator 0.5s;
    animation:         fadein_creator 0.5s;
}
.landing .landing_container .developer_container {
    -webkit-animation: fadein_developer 0.6s;
    -moz-animation:    fadein_developer 0.6s;
    -ms-animation:     fadein_developer 0.6s;
    -o-animation:      fadein_developer 0.6s;
    animation:         fadein_developer 0.6s;
}
.landing .landing_container .designer_container {
    -webkit-animation: fadein_designer 0.7s;
    -moz-animation:    fadein_designer 0.7s;
    -ms-animation:     fadein_designer 0.7s;
    -o-animation:      fadein_designer 0.7s;
    animation:         fadein_designer 0.7s;
}

.work {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* 
 * To maintain code reusability, all groups are named either .body_left or
 * .body_right. The only thing that changes is the image used. To distinguish
 * between different bodies, refer to the "id" with a hash instead of a period.
 */
#body_creator .image {
    background-image: url("images/helium_8K.jpg"); /* https://sobschack.artstation.com/projects/5rD61 */
}
#body_developer .image {
    background-image: url("images/one_dark.jpg");
}
#body_designer .image {
    background-image: url("images/designer.jpg");
}
.body_left,
.body_right,
.body3 {
    -webkit-animation: slide_up 0.5s;
    -moz-animation:    slide_up 0.5s;
    -ms-animation:     slide_up 0.5s;
    -o-animation:      slide_up 0.5s;
    animation:         slide_up 0.5s;
}
.body_left:hover .text_container .text,
.body_right:hover .text_container .text,
.body3:hover .text_container .text {
    margin-top: -10px;
}
.body_left {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}
.body_left .text_container {
    width: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.body_left .text_container .text {
    padding: 40px 40px;
    margin-left: 30px;
    margin-right: -30px;
    height: 440px;
    z-index: 2;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_left .image_container {
    width: 50%;
    height: 500px;
    overflow: hidden;
}
.body_left .image_container .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_left:hover .image_container .image {
    transform: scale(1.1);
}
.body_left .body_left_headline,
.body_left .body_left_paragraph {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 2;
    left: 0px;
}
.body_left .body_left_headline {
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    line-height: 1.1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_left .body_left_paragraph {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.85;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 30px;
}
.body_left img {
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    max-height: 500px;
    height: 500px;
}

.body_right {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.body_right .text_container {
    width: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.body_right .text_container .text {
    padding: 40px 40px;
    margin-left: -30px;
    margin-right: 30px;
    height: 440px;
    z-index: 2;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_right .image_container {
    width: 50%;
    height: 500px;
    overflow: hidden;
}
.body_right .image_container .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_right:hover .image_container .image {
    transform: scale(1.1);
    transition: all .5s;
}
.body_right .body_right_headline,
.body_right .body_right_paragraph {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 2;
    left: 0px;
}
.body_right .body_right_headline {
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    line-height: 1.1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.body_right .body_right_paragraph {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.85;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 30px;
}
.body_right img {
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    max-height: 500px;
    height: 500px;
}