@media screen and (prefers-color-scheme: light) {
    body {
        background-color: rgb(37, 37, 37);
    }

    /* DARK THEME NAV BAR FOR DARK LANDING DIV */
    .dropdown_menu {
        background-color: rgb(37, 37, 37);
    }
    .dropdown_links a {
        color: #fafafa;
    }
    /* When you mouse over the navigation links, change their color */
    .dropdown_links a:hover,
    .dropdown_menu a:focus {
        color: #ffeccf;
    }
    .bar1,
    .bar2,
    .bar3 {
        background-color: #f0d5b6;
    }

    .left_header a,
    .right_header a {
        color: rgb(179, 179, 179);
    }
    .nav_bar .current {
        color: #f0d5b6;
    }
    .left_header a:hover,
    .right_header a:hover {
        color: #ffeccf;
    }
    .center_header {
        background-color: rgb(37, 37, 37);
    }
    .center_header a {
        color: #ffffff;
    }
    .center_header .header_logo figure {
        background-image: url("images/logo_white.png");
    }

    /* LIGHT THEME */
    .landing .landing_title h1 {
        color: #ffeccf;
    }
    .landing .landing_icon_container  h1 {
        color: #fafafa;
    }
    .landing .landing_container p {
        color: #fafafa;
    }
    .landing .landing_icon_container  span:hover h1{
        color: #ffeccf;
    }

    .work {
        background-color: #ffffff;
    }
    .body_left, .body_right, .body3 {
        background-color: #eeeeee;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        background-color: #ffffff;
        box-shadow: 0px 10px 32px rgba(12, 12, 12, 0.267);
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        box-shadow: 0px 10px 32px rgba(12, 12, 12, 0.356);
    }
    .body_left .body_left_headline,
    .body_right .body_right_headline {
        color: #333333;
    }
    .body_left .body_left_paragraph,
    .body_right .body_right_paragraph {
        color: rgb(98, 98, 98);
    }

    .landing .headline {
        color: #333333;
    }
    .landing .paragraph {
        color: rgb(98, 98, 98);
    }
    .footer {
        background-color: #ffffff;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: rgb(37, 37, 37);
    }

    .landing .landing_title h1 {
        color: #ffeccf;
    }
    .landing .landing_icon_container  h1 {
        color: #e2e2e2;
    }
    .landing .landing_container p {
        color: #d6d6d6;
    }
    .landing .landing_icon_container  span:hover h1{
        color: #f0d5b6;
    }

    .work {
        background-color: #292929;
    }
    .body_left,
    .body_right {
        background-color: #414141;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        background-color: #292929;
        box-shadow: 0px 10px 32px rgba(12, 12, 12, 0.4);
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        box-shadow: 0px 10px 32px rgba(200, 200, 200, 0.2);
        margin-top: -10px;
    }
    .body_left .body_left_headline,
    .body_right .body_right_headline {
        color: #f0d5b6;
    }
    .body_left .body_left_paragraph,
    .body_right .body_right_paragraph {
        color: #d6d6d6;
    }

    .footer {
        background-color: #292929;
    }
}