/* APPLY KEYFRAME ANIMATIONS TO ELEMENTS HERE */


/* animation: name duration timing_function delay direction iteration_count fill_mode play_state */

.project_showcase .showcase_title h1 {
    animation: blank 0.3s 0s, text_in 0.5s 0.3s;
    animation-fill-mode: forwards;
}
.project_showcase .showcase_title h2 {
    animation: blank 0.4s 0s, text_in 0.5s 0.4s;
    animation-fill-mode: forwards;
}

.project_showcase .showcase_wrapper {
    animation: blank 0.9s 0s, fade_in 0.9s 0.9s;
    animation-fill-mode: forwards;
}


/* SUCCESSIVE FADE IN */
/* 
#navi {
    animation: blank 1s 0s, fade_in 1s 1s;
    animation-fill-mode: forwards;
}
#navi .bg_wrapper {
    animation: zoom_out_10 2s 1s;
}
#infinitylabs {
    animation: blank 1.4s 0s, fade_in 1s 1.4s;
    animation-fill-mode: forwards;
}
#infinitylabs .bg_wrapper {
    animation: zoom_out_10 2s 1.4s;
}
#comet {
    animation: blank 1.8s 0s, fade_in 1s 1.8s;
    animation-fill-mode: forwards;
}
#comet .bg_wrapper {
    animation: zoom_out_10 2s 1.8s;
}
#quickarray {
    animation: blank 2.2s 0s, fade_in 1s 2.2s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 2.2s;
}
#quickarray .bg_wrapper {
    animation: zoom_out_10 2s 2.2s;
} */