body {
    font-family: 'Inter', sans-serif;
}

.project_showcase {
    width: auto;
    max-width: 1260px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.project_showcase .showcase_title {
    letter-spacing: 0.06em;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.project_showcase .showcase_title h1 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.project_showcase .showcase_title h2 {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.project_showcase .project_card {
    margin-bottom: 80px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.project_showcase .project_card .bg_wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project_showcase #navi .bg_wrapper {
    background-image: url("../images/navi_landing.jpg");
}
.project_showcase #infinitylabs .bg_wrapper {
    background-image: url("../images/infinitylabs_landing.jpg");
}
.project_showcase #comet .bg_wrapper {
    background-image: url("../images/comet_landing.jpg");
}
.project_showcase #quickarray .bg_wrapper {
    background-image: url("../images/quick_array.jpg");
}
.project_showcase .project_card figure {
    width: 100%;
    height: 370px;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
}
.project_showcase .card_text_container {
    letter-spacing: 0.05em;
    text-align: center;

    width: auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;

    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.project_showcase .card_text_container h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.project_showcase .card_text_container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 15px;
}
.project_showcase .card_text_container .card_links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.project_showcase .card_text_container .card_links a:hover {
    /* UNDERLINE EFFECT */
    border-bottom: 2px solid rgba(113, 175, 255, 0.6);
    padding-bottom: 3px;
}
.project_showcase .card_text_container .card_links .card_preview {
    margin-left: 15px;
}