
.portfolio_header_container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio_header_wrapper {
    width: auto;
    max-width: 1260px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.portfolio_header_wrapper h1,
.portfolio_header_wrapper h2,
.portfolio_header_wrapper p {
    font-family: 'Open Sans', sans-serif;
}
.portfolio_header_wrapper h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.03em;
}
.portfolio_header_wrapper h2 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.03em;
    padding-top: 10px;
}
.portfolio_header_wrapper p {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 30px;
}
.portfolio .collage_container {
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.portfolio .container {
    width: auto;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: -100px;
    padding-left: 30px;
    padding-right: 30px;

    -webkit-animation: slide_up 0.5s;
    -moz-animation:    slide_up 0.5s;
    -ms-animation:     slide_up 0.5s;
    -o-animation:      slide_up 0.5s;
    animation:         slide_up 0.5s;
}

/* MAIN PROJECT PROPERTIES */
.portfolio .collage_container .project_container_1 {
    width: 100%;
}
.portfolio .collage_container .project_container_1 .project_image_wrapper {
    height: 500px;
}

/* SHARED PROPERTIES */
.portfolio .collage_container .collage_square {
    display: flex;
}
.portfolio .collage_container .project_column_left {
    width: 50%;
    margin-right: 15px;
}
.portfolio .collage_container .project_column_right {
    width: 50%;
    margin-left: 15px;
}
.portfolio .collage_container .project_container_1,
.portfolio .collage_container .project_column_left .project_container_top,
.portfolio .collage_container .project_column_right .project_container_top {
    margin-bottom: 30px;
}
.portfolio .collage_container .project_container_1 .project_image_wrapper,
.portfolio .collage_container .project_image_wrapper {
    width: 100%;
    overflow: hidden;
}
.portfolio .collage_container .project_column_left .project_container_top .project_image_wrapper,
.portfolio .collage_container .project_column_right .project_container_bottom .project_image_wrapper {
    height: 410px;
}
.portfolio .collage_container .project_column_left .project_container_bottom .project_image_wrapper,
.portfolio .collage_container .project_column_right .project_container_top .project_image_wrapper {
    height: 310px;
}
.portfolio .collage_container .project_container_1 .project_image,
.portfolio .collage_container .collage_square .project_image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}
.portfolio .collage_container .project_text_container {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 30px 30px;
}
.portfolio .collage_container h1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.portfolio .collage_container p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.035em;
    margin-bottom: 30px;
}
.portfolio .collage_container .button_container {
    display: flex;
}
.portfolio .collage_container .button_link {
    margin-right: 12px;
    padding: 8px 20px;
    transition: all 0.3s;
}
.portfolio .collage_container a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: auto auto;
    text-decoration: none;
}

/* MOUSE HOVER-OVER ANIMATIONS */
.portfolio .collage_container .project_container_1,
.portfolio .collage_container .project_column_left .project_container_top,
.portfolio .collage_container .project_column_left .project_container_bottom,
.portfolio .collage_container .project_column_right .project_container_top,
.portfolio .collage_container .project_column_right .project_container_bottom {
    transition: all 0.5s;
}
.portfolio .collage_container .button_link:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 10px 22px rgba(12, 12, 12, 0.2);
}
.portfolio .collage_container .project_container_1:hover .project_image,
.portfolio .collage_container .project_column_left .project_container_top:hover .project_image,
.portfolio .collage_container .project_column_left .project_container_bottom:hover .project_image,
.portfolio .collage_container .project_column_right .project_container_top:hover .project_image,
.portfolio .collage_container .project_column_right .project_container_bottom:hover .project_image {
    transform: scale(1.05);
}
.portfolio .collage_container .project_container_1:hover,
.portfolio .collage_container .project_column_left .project_container_top:hover,
.portfolio .collage_container .project_column_left .project_container_bottom:hover,
.portfolio .collage_container .project_column_right .project_container_top:hover,
.portfolio .collage_container .project_column_right .project_container_bottom:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 22px rgba(12, 12, 12, 0.2);
}

/* PROJECT IMAGES */
.portfolio .collage_container .project_container_1 .project_image {
    background-image: url("../images/burgundy.jpeg");
}
.portfolio .collage_container .project_column_left .project_container_top .project_image {
    background-image: url("../images/burgundy.jpeg");
}
.portfolio .collage_container .project_column_left .project_container_bottom .project_image {
    background-image: url("../images/burgundy.jpeg");
}
.portfolio .collage_container .project_column_right .project_container_top .project_image {
    background-image: url("../images/burgundy.jpeg");
}
.portfolio .collage_container .project_column_right .project_container_bottom .project_image {
    background-image: url("../images/burgundy.jpeg");
}

/* GRAY OUT EMPTY PROJECT IMAGES */
#mira,
#andromeda {
    opacity: 0.4;
}