/* 
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }

    .dropdown_menu {
        background-color: #ffffff;
    }
    
    .portfolio_header_wrapper  h1 {
        color: #313131;
    }
    .portfolio_header_wrapper  p {
        color: rgb(230, 230, 230);
    }
    
    .portfolio .collage_container .project_container_1,
    .portfolio .collage_container .project_container_top,
    .portfolio .collage_container .project_container_bottom {
        background-color: rgb(243, 243, 243);
    }
    .portfolio .collage_container h1 {
        color: #313131;
    }
    .portfolio .collage_container p {
        color: #414141;
    }
    .portfolio .collage_container .button_link {
        background-color: #dfdfdf;
    }
    .portfolio .collage_container a {
        color: #252525;
    }
}
 */
body {
    background-color: #e8c4b8;
}

.dropdown_menu {
    background-color: #e8c4b8;
}
.dropdown_links a {
    color: rgb(95, 95, 95);
}
.bar1,
.bar2,
.bar3 {
    background-color: #333;
}

.center_header {
    background-color: #e8c4b8;
}
.left_header a,
.right_header a {
    color: rgb(107, 107, 107);
}
.nav_bar .current {
    color: rgb(71, 71, 71);
}
.left_header a:hover,
.right_header a:hover {
    color: #ffffff;
}
.center_header a {
    color: #292929;
}
.center_header .header_logo figure {
    background-image: url("../images/logo_dark.png");
}

.portfolio .collage_container  {
    background-color: #353232;
}
.portfolio_header_wrapper  h1 {
    color: #333;
}
.portfolio_header_wrapper  p {
    color: rgb(230, 230, 230);
}

.portfolio .collage_container .project_container_1,
.portfolio .collage_container .project_container_top,
.portfolio .collage_container .project_container_bottom {
    background-color: rgb(80, 80, 80);
}
.portfolio .collage_container h1 {
    color: #e8c4b8;
}
.portfolio .collage_container p {
    color: #f0f0f0;
}
.portfolio .collage_container .button_link {
    background-color: #f0f0f0;
}
.portfolio .collage_container a {
    color: #333;
}

.footer {
    background-color: #353232;
}
.copyright {
    color: #4b4747;
}