@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
    
    .portfolio_header_wrapper  h1 {
        color: #313131;
    }
    .portfolio_header_wrapper  p {
        color: rgb(230, 230, 230);
    }
    
    .portfolio .collage_container .project_container_1,
    .portfolio .collage_container .project_container_top,
    .portfolio .collage_container .project_container_bottom {
        background-color: rgb(243, 243, 243);
    }
    .portfolio .collage_container h1 {
        color: #313131;
    }
    .portfolio .collage_container p {
        color: #414141;
    }
    .portfolio .collage_container .button_link {
        background-color: #dfdfdf;
    }
    .portfolio .collage_container a {
        color: #252525;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: rgb(33, 35, 41);
    }

    .center_header {
        background-color: rgb(33, 35, 41);
    }

    .portfolio .collage_container  {
        background-color: rgb(41, 46, 54);
    }
    .portfolio_header_wrapper  h1 {
        color: #f0d5b6;
    }
    .portfolio_header_wrapper  p {
        color: rgb(230, 230, 230);
    }

    .portfolio .collage_container .project_container_1,
    .portfolio .collage_container .project_container_top,
    .portfolio .collage_container .project_container_bottom {
        background-color: rgb(51, 57, 64);
    }
    .portfolio .collage_container h1 {
        color: #dfdfdf;
    }
    .portfolio .collage_container p {
        color: #cacaca;
    }
    .portfolio .collage_container .button_link {
        background-color: #dfdfdf;
    }
    .portfolio .collage_container a {
        color: #252525;
    }

    .footer {
        background-color: rgb(41, 46, 54);
    }
}