
.enthusiast_wrapper h1 {
    animation: blank 0.1s, text_in 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.1s;
}
.enthusiast_wrapper p {
    animation: blank 0.3s, text_in 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.3s;
}


.portrait {
    animation: blank 0.5s, text_in 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.5s;
}
.biography h1,
.biography p {
    animation: blank 0.6s, fade_in 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.6s;
}