/* APPLY KEYFRAME ANIMATIONS TO ELEMENTS HERE */


/* animation: name duration timing_function delay direction iteration_count fill_mode play_state */

.enthusiast_wrapper h1 {
    animation: blank 0.1s 0s, text_in 0.5s 0.1s;
    animation-fill-mode: forwards;
}
.enthusiast_wrapper p {
    animation: blank 0.3s 0s, text_in 0.5s 0.3s;
    animation-fill-mode: forwards;
}


.portrait {
    animation: blank 0.5s 0s, text_in 0.9s 0.5s;
    animation-fill-mode: forwards;
}
.biography h1,
.biography p {
    animation: blank 0.6s 0s, fade_in 0.5s 0.6s;
    animation-fill-mode: forwards;
}