@media only screen and (max-width: 1300px) {
    .enthusiast_wrapper {
        width: auto;
        max-width: 90vw;
    }
    .enthusiast_wrapper h1 {
        font-size: 46px;
    }
    .enthusiast_wrapper p {
        max-width: auto;
        padding-left: 80px;
        padding-right: 80px;
        font-size: 18px;
    }
    .aboutme .container {
        width: 90%;
        padding: 40px;
    }
    .biography {
        width: auto;
    }
    .biography h1 {
        font-size: 30px;
    }
    .biography p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px) {
    .enthusiast_wrapper {
        padding-top: 125px;
        padding-bottom: 190px;
    }
    .enthusiast_wrapper h1 {
        font-size: 42px;
    }
    .enthusiast_wrapper p {
        font-size: 18px;
        margin-top: 30px;
        padding-bottom: 40px;
    }
    .biography h1 {
        font-size: 28px;
        text-align: left;
    }
    .biography p {
        font-size: 17px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 750px) {
    .aboutme {
        padding-bottom: 70px;
    }
    .aboutme .container {
        padding: 30px;
    }
    .enthusiast_wrapper p {
        padding-left: 4vw;
        padding-right: 4vw;
    }


    .footer {
        padding-top: 30px;
    }
}

/* PHONE LAYOUT*/
@media only screen and (max-width: 600px) {
    .enthusiast_wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .enthusiast_wrapper h1 {
        font-size: 36px;
    }
    .enthusiast_wrapper p {
        font-size: 16px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .aboutme .container {
        width: auto;
        padding: 15px;

        margin-top: -50px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .biography h1 {
        font-size: 26px;
    }
    .biography p {
        font-size: 16px;
        margin-top: 10px;
    }


    .footer {
        padding-top: 30px;
    }
}