.aboutme {
    padding-bottom: 100px;
}
.enthusiast {
    background-image: url("https://images.unsplash.com/photo-1502239608882-93b729c6af43"); /* dark leaves */
    background-image: url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5"); /* steps */
    background-image: url("https://images.unsplash.com/photo-1509023464722-18d996393ca8"); /* mountain */
    background-image: url("https://images.unsplash.com/photo-1526289034009-0240ddb68ce3"); /* glass */
    background-image: url("https://images.unsplash.com/photo-1591541924200-d1217b346bf6"); /* building side */
    background-image: url("https://images.pexels.com/photos/3815759/pexels-photo-3815759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); /* top-down desk */
    background-image: url("https://images.pexels.com/photos/3815760/pexels-photo-3815760.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=600&w=1920"); /* top-down desk */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.enthusiast_wrapper {
    width: 1200px;
    padding-top: 150px;
    padding-bottom: 240px;
    margin: 0 auto;
}
.enthusiast_wrapper h1 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.06em;
}
.enthusiast_wrapper p {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
    text-align: center;
    margin-top: 30px;
}
.aboutme .container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    margin-top: -100px;
}
.biography {
    margin-bottom: 60px;
}
.biography:last-child {
    margin-bottom: 0px;
}
.biography h1 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.4em;
    margin-bottom: 15px;
}
.biography p {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .04em;
    line-height: 1.7em;
    margin-bottom: 20px;
}
.biography img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}
